# Backend team
/backend/** @Nathan10101010 @aveedg

# Frontend team
/frontend/** @dylanh-2

# AI team
/ai/** @Johnathanamidi1919 @shaamirf

# AWS infrastructure
/infrastructure/** @Johnathanamidi1919 @shaamirf
*.yml @Johnathanamidi1919 @shaamirf