# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
.env
.pytest_cache/
.mypy_cache/

# Node
node_modules/
.npm
dist/

# AWS
.aws-sam/
*.zip

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db